
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --color-primario:#cc9442;
    --color-secundario:#f0eeef;
    --color-letras:black;
    --color-main:;
    --color-efecto-hover:;
    --estilos-textoPrincipal:"Raleway", sans-serif;;
    --estilos-textoSecundario:"Lora", serif;;


}

body{
    background-color: var(--color-secundario);
}
header{
    height: 53px;
    background-color: #cc9442;
}

.descuento{
    display: flex;
    justify-content: center;
    background-color: #000;
    padding-top:5px;
    padding-bottom:5px ;
}

.descuento h2{
    font-family: var(--estilos-textoSecundario);
    font-weight: 400;
    font-size: 16px;
    color: white;
}
.navbar{
    height: 50px;
    color:var(--color-letras);
    background-color:var(--color-secundario);
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-top: 10px;
    padding: 10px;
}
.navbar li{
    list-style: none;
    font-family: var(--estilos-textoPrincipal);
    font-weight: 600;
    font-size: 12px;

}
.navbar_links{
    display: flex;
    gap: 180px;
}
.navbar_links-botones{
    color: var(--color-letras);
    position: relative;
    text-decoration: none;
    padding-bottom: 5px;
}

.navbar_links-botones::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background-color: #000; /* color de la línea */
  transition: width 0.3s ease;
}

.navbar_links-botones:hover::after{
    width: 100%;
    background-color:#cc9442;
}
.navbar_logo{
    text-decoration: none;
    color: var(--color-letras);
    font-size: 20px;
    font-weight: 800;
    font-family: var(--estilos-textoPrincipal);
}
.navbar_compras-links{
    display: flex;
    gap: 3px;
}
.navbar_compras li a{
    text-decoration: none;
}


main{
    background-color: var(--color-secundario);
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}
