*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    height: 50px;
    color:black;
    background-color: white;
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-top: 10px;
    padding: 10px;
}
.navbar_logo{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: bold;
}


main{
    background-color: tomato;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}
