@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: var(--color-secundario);
    overflow-x: hidden;
    padding-top: 90px;
}

/* estilos del descuento */

.discount {
    display: flex;
    justify-content: center;
    background-color: #000;
    padding-top: 5px;
    padding-bottom: 5px;
    position: fixed;
    top: 0;
    width: 100%;
    height: 30px;
    z-index: 1001;
}

.discount__title {
    font-family: var(--estilos-textoSecundario);
    font-weight: 400;
    font-size: 16px;
    color: white;
}

/* estilos del navbar */

.navbar {
    height: 60px;
    color: var(--color-letras);
    background-color: var(--color-secundario);
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 10px;
    border-bottom: 2px solid var(--color-primario);
    position: fixed;
    top: 30px;
    width: 100%;
    z-index: 1000;
    margin-top: 0;
}

.navbar li {
    list-style: none;
    font-family: var(--estilos-textoPrincipal);
    font-weight: 600;
    font-size: 12px;
}

.navbar__list {
    display: flex;
    gap: 180px;
}

.navbar__link {
    color: var(--color-letras);
    position: relative;
    text-decoration: none;
    padding-bottom: 5px;
}

.navbar__link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 2px;
    background-color: #000;
    transition: width 0.3s ease;
}

.navbar__link:hover::after {
    width: 100%;
    background-color: var(--color-primario);
}

.navbar__logo {
    text-decoration: none;
    color: var(--color-letras);
    font-size: 20px;
    font-weight: 800;
    font-family: var(--estilos-textoPrincipal);
}

.navbar__actions-list {
    display: flex;
    gap: 15.56px;
}

.navbar__actions-list img {
    width: 19.55px;
    height: 19.55px;
}

.navbar__actions li a {
    text-decoration: none;
}

/* estilos del footer */

.footer__section--newsletter {
    padding-right: 40px;
}

.footer__section--newsletter .footer__title {
    text-align: start;
    padding-bottom: 28px;
    width: 556px;
    font-family: var(--estilos-textoPrincipal);
    font-size: 16px;
}

.footer__form-wrapper form {
    display: flex;
    gap: 20px;
}

.footer__form-wrapper form input {
    padding: 13px;
    height: 42px;
    width: 294px;
}

.footer__form-wrapper form button {
    padding: 13px;
    height: 42px;
    width: 122px;
    color: var(--color-primario);
    border-color: var(--color-primario);
    background-color: #000;
}

.footer__section {
    display: flex;
    padding-left: 34px;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    border-left: 1px solid var(--color-primario);
}


.footer__item {
    list-style: none;
    font-family: var(--estilos-textoPrincipal);
    font-weight: 500;
    font-size: 14px;
}

.footer__link {
    text-decoration: none;
    text-align: start;
    display: flex;
    margin-bottom: 10px;
    color: white;
}


footer {
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 36px;
    padding-right: 70px;
    padding-left: 70px;
    padding-bottom: 60px;
}