.main-perfil{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    margin: 100px 0;
}

.formulario{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    width: 30%;
    gap: 42px;
}

.formulario-title {
    padding-top: 37px;
    font-family: var(--estilos-textoPrincipal);
    font-weight: 700;
    font-size: 20px;
    color: var(--color-primario);
}

.formulario-username{
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-family: var(--estilos-textoSecundario);
    font-weight: 500;
    padding-bottom: 42px;
    width: 30vw;

}

.formulario input{
    border: none;
    padding: 10px;
    border-bottom: 1px solid var(--color-letras);
    background-color: var(--color-secundario);
}

.formulario-contrasena{
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-family: var(--estilos-textoSecundario);
    font-weight: 500;
    padding-bottom: 17px;
}

.formulario-recordar{
    font-family: var(--estilos-textoSecundario);
    font-weight: 800;
    margin-bottom: 102px;
    text-decoration: none;
    color: var(--color-letras);
}


.formulario-button {
    height: 39px;
    width: 100%;
    font-family: var(--estilos-textoPrincipal);
    font-weight: 800;
    font-size: 16px;
    color: var(--color-secundario);
    background-color: var(--color-letras);
    border: none;
    margin-bottom: 45px;
    transform: scale(1);
    transition: transform .2s ease;
}

.formulario-button:hover {
    transform: scale(1.05);
}

.formulario-registrarse{
    display: flex;
    justify-content: center;
}
.formulario-registrarse {
    font-family: var(--estilos-textoPrincipal);
    font-weight: 800;
    font-size: 14px;
    text-decoration: none;
    color: var(--color-letras);

}