main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    padding-bottom: 60px;

    width: 100vw;
    height: 90vh;
}

.main__section {
    padding-left: 70px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
}

.main__section__img {
    width: 100vw;
    height: 100vh;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
}

.main__section__title {
    font-family: var(--estilos-textoPrincipal);
    font-weight: 700;
    font-size: 48px;
    color: var(--color-secundario);
}

.main__section__subtitle {
    font-family: var(--estilos-textoPrincipal);
    font-weight: 700;
    font-size: 24px;
    color: var(--color-secundario);
}

.main__section__button {
    height: 50px;
    width: 157px;
    font-family: var(--estilos-textoPrincipal);
    font-weight: 800;
    font-size: 16px;
    color: var(--color-letras);
    background-color: var(--color-primario);
    border: none;
}

.main__section__button a {
    text-decoration: none;
    color: var(--color-letras);
}