
:root {
    --color-primario: #cc9442;
    --color-secundario: #f0eeef;
    --color-letras: black;
    --color-main: ;
    --color-efecto-hover: ;
    --estilos-textoPrincipal: "Raleway", sans-serif;
    --estilos-textoSecundario: "Lora", serif;
}
